.paginatorContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 1rem;
}

.paginatorContainer button {
    background-color:#e2e2e2;
    border: none;
    cursor: pointer;
    width: 2.625rem;
    height: 2.625rem;
    max-width: 2.625rem;
    max-height: 2.625rem;
    margin: 0px 2px;
}

.paginatorContainer button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.paginatorContainer .inlineStyle {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: #e2e2e2;
    height: 2.625rem;
    align-items: center;
}

.paginatorContainer .inlineStyle .paginatorForm {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.paginatorContainer .inlineStyle .paginatorForm input[type="number"] {
    width: 3.25rem;
    padding: 0.3125rem;
    font-size: 0.75rem;
    font-weight: 600;
    line-height: 1;
    background-color: #ffffff;
    border:none;
    color: #000000;
    border-radius: 2px;
    text-align: center;
}

.paginatorContainer .inlineStyle .totalPages {
    margin-right: 0.5rem;
    font-size: 0.75rem;
    font-weight: 600;
}

.previous span{
    display: inline-block;
    transform: rotate(-90deg);
    background: url('../../assets/chevron.svg') center no-repeat;
    height: 12px;
    width:12px;
}

.next span{
    display: inline-block;
    transform: rotate(90deg);
    background: url('../../assets/chevron.svg') center no-repeat;
    height: 20px;
    width:20px;
}