 .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} 
.css-12i7wg6-MuiPaper-root-MuiDrawer-paper {
  background: #F68E1F !important;
  border-right: 0px !important;
}
/* FOR PRODUCTION */
.css-1l8j5k8 {
  background-color: #F68E1F !important;
  border-right: 0px !important;
}
.css-46bh2p-MuiCardContent-root:last-child {
  background-color: #F4F4F4 !important;
}
.topHeading {
  font-family: 'ITC Charter Com' !important;
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 30px !important;
  line-height: 35px !important;
  color: #2D2D2D;
  margin-bottom: 18px !important;
}
.topHeading.info{
  font-weight: 700 !important;
  font-size: 23px !important;
  margin-top: 45px;
  background-color: #FFFFFF;
}
/* p.titleHeading.info {
  background-color: inherit !important;
} 
h5.MuiTypography-root.MuiTypography-h5.topHeading.info.css-ag7rrr-MuiTypography-root {
  background-color: inherit !important;
}
p.topHeadingSub.info {
  background-color: inherit !important;
} */
.topHeadingSub {
  font-family: 'Helvetica Neue LT Pro' !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 25px !important;
  color: #636161;
}
.topHeadingSub.info {
  font-weight: 700 !important;
  line-height: 20px !important;
  color: #000000;
  margin-top: 20px;
  background-color: #EFEFEF;
}

.titleHeading {
  font-family: 'ITC Charter Com' !important;
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 23px !important;
  line-height: 35px !important;
  color: #2D2D2D;
}

.titleHeading.info {
  color: #FFFFFF;
  margin-bottom: 15px;
  margin-top: 10px;
  line-height: 31px !important;
  background-color: #D93954;
  /* text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000; */
}
.css-4a8k6y-MuiAutocomplete-root {
  margin-left: 0 !important;
  margin-top: 0 !important;
}
.MuiOutlinedInput-root {
  background-color: #FFFFFF;
}
.css-10hburv-MuiTypography-root {
  font-family: 'Helvetica Neue LT Pro' !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 16px !important;
  height: 63px !important;
  letter-spacing: 0.06em !important;
  color: #FFFFFF;
  padding-left: 60px !important;
  padding-bottom: 0px !important;
  padding-top: 22px !important;
  padding-right: 14px !important;
  width: 230px;
}

.css-10hburv-MuiTypography-root:hover {
  transition: all 0.2s ease-in-out;
  transform: scale(1);
}
 /* FOR PRODUCTION */
.css-yb0lig:hover {
  transition: all 0.2s ease-in-out;
  transform: scale(1);
}

/* FOR PRODUCTION */
.css-yb0lig {
  font-family: 'Helvetica Neue LT Pro' !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 16px !important;
  height: 63px !important;
  letter-spacing: 0.06em !important;
  color: #FFFFFF;
  padding-left: 60px !important;
  padding-bottom: 0px !important;
  padding-top: 22px !important;
  padding-right: 14px !important;
  width: 230px;
}
/* THIS PART IS ONLY FOR AUTOCOMPLETE SECTION */
.removePadding .css-10hburv-MuiTypography-root {
  padding-top: 11px !important;
}
/* FOR PRODUCTION */
.removePadding .css-yb0lig {
  padding-top: 11px !important;
}
/************************************************/
.css-16ac5r2-MuiButtonBase-root-MuiListItemButton-root {
  padding-bottom: 0px !important;
  padding-top: 0px !important;
  padding-right: 0px !important;
  padding-left: 0px !important;
  margin-bottom: 8px !important;
}
/* FOR PRODUCTION */
.css-1uwabd6 {
  padding-bottom: 0px !important;
  padding-top: 0px !important;
  padding-right: 0px !important;
  padding-left: 0px !important;
  margin-bottom: 8px !important;
}
.css-16ac5r2-MuiButtonBase-root-MuiListItemButton-root .css-10hburv-MuiTypography-root:hover {
  color: #2D2D2D;
  font-weight: 600 !important;
}
/* FOR PRODUCTION */
.css-1uwabd6 .css-yb0lig:hover {
  color: #2D2D2D;
  font-weight: 600 !important;
}
.css-16ac5r2-MuiButtonBase-root-MuiListItemButton-root:hover {
  background-color: #FFFFFF !important;
  border-radius: 60px 0px 0px 60px !important;
  margin-left: 10px;
  height: 63.25px;
  line-height: 55px !important;
  transition: all 1s ease;
}
.css-1uwabd6:hover {
  background-color: #FFFFFF !important;
  border-radius: 60px 0px 0px 60px !important;
  margin-left: 10px;
  height: 63.25px;
  line-height: 55px !important;
  transition: all 1s ease;
}
.addWhite {
  background-color: #FFFFFF !important;
  border-radius: 60px 0px 0px 60px !important;
  margin-left: 10px !important;
  height: 63.25px !important;
}
.addWhite .css-10hburv-MuiTypography-root {
  color: #2D2D2D;
  font-weight: 600 !important;
}

.addWhite .css-1d159sf-MuiSvgIcon-root{
  color: #2D2D2D;
  font-weight: 600 !important;
}

/* FOR PRODUCTION */
.addWhite .css-yb0lig {
  color: #2D2D2D;
  font-weight: 600 !important;
}

.addWhite .css-1okqa6k{
  color: #2D2D2D;
  font-weight: 600 !important;
}

/* THIS PART IS ONLY FOR AUTOCOMPLETE SECTION */
.addWhiteAllign {
  background-color: #FFFFFF !important;
  border-radius: 60px 0px 0px 60px !important;
  margin-left: 10px !important;
  height: 63.25px !important;
}
.addWhiteAllign .css-10hburv-MuiTypography-root {
  color: #2D2D2D;
  font-weight: 600 !important;
  padding-top: 11px !important;
}
/* FOR PRODUCTION */
.addWhiteAllign .css-yb0lig {
  color: #2D2D2D;
  font-weight: 600 !important;
  padding-top: 11px !important;
}
/************************************************/

/************* ADDED BY DEBLEENA ************************/

.mainDivInfo {
  border-radius: 13px;
  padding: 10px 20px;
  text-align: "left";
  background-color: #EFEFEF;
  position: relative;
  max-height: 300px;
  overflow:hidden;
  max-width: 318px;
}
.mainDivImg {
  width: 70px;
  height: 70px;
  background-color: #2D2D2D;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
} 
.mainDivImg img{
  height: 25px;
  width: 25px;
}
.widgetSubHeading {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5; /* number of lines to show */
  -webkit-box-orient: vertical;
  font-family: 'Helvetica Neue LT Pro' !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 12px !important; 
  line-height: 16px !important;
  color: #2D2D2D; 
  margin-bottom: 18px !important;
  /* padding-bottom: 20px; */
  padding-right: 115px;
}
.defaultViewInfo {
  margin-bottom: 20px;
  background-color: rgb(244, 244, 244) !important;
  width: auto;
  height: auto;
  border-radius: 10px !important;
}

.defaultViewInfo h5 {
  font-family: "Helvetica Neue LT Pro";
  font-style: "normal";
  font-weight: 500;
  font-size: 16px;
  line-height: 5px;
  color: #636161;
}
.css-n7rtur-MuiPaper-root-MuiAppBar-root{
  background-color: #F2F1F1 !important;
  box-shadow: 3px -8px 20px -7px rgba(0, 0, 0, 0.11) !important;
}
/* FOR PRODUCTION */
.css-im4i5j {
  background-color: #F2F1F1 !important;
  box-shadow: 3px -8px 20px -7px rgba(0, 0, 0, 0.11) !important;
}
.datePickerText h5{
  font-family: "Helvetica Neue LT Pro";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: rgb(99, 97, 97);
  margin-bottom: 1em;
}

/***********************************************END********************************/
.css-h4y409-MuiList-root {
  padding: 0px !important;
}
/* FOR PRODUCTION */
.css-1ontqvh {
  padding: 0px !important;
}
.canvasjs-chart-canvas {
  height: 201px !important;
  width: 345px !important ;
}
.canvasjs-chart-credit {
  display: none;
}
/* FOR PRODUCTION */
.css-1az0ok {
  margin-left: 0 !important;
  margin-top: 0 !important;
}
.css-tlelie-MuiListItemText-root {
  margin: 0px !important;
  flex: 0 0 auto !important;
}
/* FOR PRODUCTION */
.css-1tsvksn{
  margin: 0px !important;
  flex: 0 0 auto !important;
}
.css-o5srbh-MuiPaper-root-MuiAppBar-root{
  background-color: #FFFFFF !important;
}
::-webkit-scrollbar {display:none;}
/* HEADER COLOR FOR LOCAL */
.css-m9mp0w-MuiToolbar-root {
  background-color: #f2f1f1 !important;
}
/* HEADER COLOR FOR PRODUCTION */
.css-xgqgls {
  background-color: #f2f1f1 !important;
}
/* FOR RIGHT & DOWN ARROW ICON */
.css-16ac5r2-MuiButtonBase-root-MuiListItemButton-root:hover .css-1d159sf-MuiSvgIcon-root {
  color: #2D2D2D;
}

/* Server CSS */
.css-1uwabd6:hover .css-1okqa6k {
  color: #2D2D2D;
}